* {
    margin: 0;
    padding: 0;
}

* {
    /* outline: 1px solid #f00 !important; */
    /* background-color: rgb(233, 177, 177); */
}

li{
    list-style-type: none;
}
a {
    text-decoration: none;
}
ul{
    padding-left: 0px;
}

.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../recursos/fondomaderablanca.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    /* height: 100vh; */
    padding: 25px;
    flex-direction: column;
}

.contenedor__tarjeta{
    width: 291px;
    height: 512px;
    background-color: rgb(240, 240, 240);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    outline: 2px solid rgba(255, 255, 255, 0.734);
    outline-offset: -10px;
    box-shadow: 4px 4px 5px 1px rgba(0, 0, 0, 0.22);
}

/* ____________division en 3 ____________ */

.contenedor__tarjeta-top{
    background-image: url(../recursos/imagenarriba.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 35%;
}
.contenedor__tarjeta-mid{
    color: rgb(46, 42, 42);
    height: 40%;
    /* position: relative; */
    /* overflow: visible; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}
.contenedor__tarjeta-bottom{
    background-image: url(../recursos/imagenabajo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 25%;
}

/* ____________formatos del mid ____________ */

.contenedor__tarjeta-mid-nombres{
    font-family: 'Dancing Script';
    font-size: 28px;
    height: 39px;
}
.contenedor__tarjeta-mid-fecha{
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
}
.contenedor__tarjeta-mid-primerlugar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.contenedor__tarjeta-mid-primerlugar-hora{
    font-family: 'Oswald', sans-serif;
    width: 28px;
    border-right: 2px solid rgba(255, 255, 255, 0.734);
    font-size: 8px;
    text-align: right;
    padding-right: 3px;
}
.contenedor__tarjeta-mid-primerlugar-lugar{
    font-family: 'Oswald', sans-serif;
    width: 175px;
    font-size: 9px;
    text-align: left;
    padding-left: 3px;
}
.contenedor__tarjeta-mid-texto{
    font-family: 'Bitter', serif;
    font-weight: 500;
    padding: 5px 20px 5px 20px;
    font-size: 10px;
    text-align: center;
    color: rgb(68, 68, 68);
}

.contenedor__tarjeta-mid-linea{
    color: white;
    font-weight: 800;
    height: 10px;
    width: 55px;
}
.superior{
    border-bottom: 2px solid rgba(255, 255, 255, 0.734);
    padding-top: 15px;
}
.inferior{
    border-top: 2px solid rgba(255, 255, 255, 0.734);
    padding-bottom: 15px;
}
.contenedor__tarjeta-mid-links{
    display: flex;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.contenedor__tarjeta-mid-links-mapa{
    padding: 0px 5px;
    width: 30px;
}
.contenedor__tarjeta-mid-links-mapa a{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.contenedor__tarjeta-mid-links a img{
    height: 18px;
    width: 18px;
}

.postits{
    display: flex;
}

.postit{
    /* background-color: rgb(255, 255, 153); */
    /* background-color: rgb(208, 240, 192); */
    background-color: rgb(255, 255, 255);
    padding: 8px;
    /* background-color: rgba(255, 255, 255); */
    height: 110px;
    width: 120px;
    transform: rotate(-7deg);
    /* margin: 20px 0px 30px 60px; */
    margin: 20px 20px 10px 0px;
    font-family: 'Gochi Hand', cursive;
    font-size: 9px;
    box-shadow: 4px 4px 5px 1px rgba(0, 0, 0, 0.22);
}

.postit span{
    font-size: 7px;
}

.postit1{
    transform: rotate(-3deg);
}

.postit2{
    display: flex;
    flex-direction: column;
}
.postit2 a img{
    height: 20px;
}

.postit2-whatsapps{
    display: flex;
    justify-content:center;
    margin: 4px;
}


.postit2-whatsapps a{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    margin: 4px;
}

.postit3{
    transform: rotate(12deg);
}
.asdf{
    color: rgb(121, 121, 121);
    font-size: 6px;
    font-family: 'Bitter', serif;
    text-decoration: none;
}